body{
  background-image: linear-gradient(#006266, black);
}
aside{
  height: 100vh;
  background-color: black;
  color:white;
  display: flex;
  width: 17%;
  position: fixed;
}
aside .logo{
  color:white;
  height: 40px;
}
aside svg{
  margin-right: 15px;
}
.menu{
  flex-direction: column;
  width: 80%;
  margin:0 auto;
}
.menu a{
  display: block;
  padding:20px 20px 0px 0px;
  color:white;
}
.btn-group-vertical>.btn:first-child:not(:last-child),
.btn-group-vertical>.btn:last-child:not(:first-child){
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.btn-default:last-child{
  color: white;
  background-color: black;
}
.btn{
  padding:10px 15px;
  margin:10px 0px;
  margin-top: 50px;
  border-radius: 10px;
}
.link{
  display: flex;
  justify-content: center;
  align-items: center;
}
.link a{
  display: inline-block;
  padding:0;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 10px;
}
.link a:last-child{
  border-left: 1px solid white;
}
nav{
  background-color: transparent;
  display: flex;
  justify-content: center;
  margin-left: 17%;
  padding: 20px;
  padding-top:30px;
  font-size: 15px;
}
nav ul li{
  display: inline-block;
  text-decoration: none;
  padding-right:20px;
}
nav a{
  color:#b3b3b3;
}

nav a:hover{
  color:white;
  text-decoration: none;
}
ul{
  padding:0;
  margin:0;
}
main,
section{
  display: flex;
  margin-left: 17%;
  padding-left: 70px;
  flex-wrap: wrap;
}
section{
  margin-bottom: 180px;
}
.titolo{
  margin-left: 17%;
  padding-left: 70px;
  color:white;
}
h2{
  font-weight: bold;
}
.album{
  display: flex;
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-top: 20px;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}
.album img{
  display: flex;
  width: 100%;
  height: 90%;
}
.album h6{
  color:white;
}
.lettore_musicale{
  position: fixed;
  background-color: #282828;
  height: 100px;
  text-align: center;
  z-index: 1;
  bottom:0;
  left:0;
  width: 100vw;
}
.lettore_musicale i{
  line-height: 100px;
  padding: 0px 10px;
}
.far{
  color:white;
}
